            <!-- /.row -->
            <div id="id_modulos" class="row" style="padding: 30px">
				{% if request.user.is_superuser %}
                    <div class="col-lg-3 col-md-6">
                        <a href="/admin/auth">
                            <div class="card card-hover">
                                <div class="box bg-cyan text-center">
                                    <div class="box bg-cyan text-center">
                                        <h1 class="font-light text-white"><i class="fa fa-desktop fa-4x"></i></h1>
                                        <h4 class="text-white">SISTEMA</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}

				{% if perms.items %}
                    <div class="col-lg-3 col-md-6">
                        <a href="/admin/items">
                            <div class="card card-hover">
                                <div class="box bg-warning text-center">
                                    <div class="box bg-warning text-center">
                                        <h1 class="font-light text-white"><i class="fa fa-briefcase fa-4x"></i></h1>
                                        <h4 class="text-white">PRODUCTOS Y SERVICIOS</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
             </div>

             <div id="id_modulos" class="row" style="padding: 30px">

                {% if perms.clientes %}
                    <div class="col-lg-3 col-md-6">
                        <a href="/admin/clientes/cliente">
                            <div class="card card-hover">
                                <div class="box text-center" style="background-color: #9C27B0">
                                    <div class="box text-center" style="background-color: #9C27B0">
                                        <h1 class="font-light text-white"><i class="fa fa-group fa-4x"></i></h1>
                                        <h4 class="text-white">CLIENTES</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}

				{% if perms.presupuestos %}
                     <div class="col-lg-3 col-md-6">
                        <a href="/admin/presupuestos">
                            <div class="card card-hover">
                                <div class="box bg-success text-center">
                                    <div class="box bg-success text-center" >
                                        <h1 class="font-light text-white"><i class="fa fa-file-text fa-4x"></i></h1>
                                        <h4 class="text-white">PRESUPUESTOS</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                {% endif %}


            </div>
            <!-- /.row -->
