
<!DOCTYPE html>

<html lang="es" >
<head>
<title>Añadir material | Sofware para PYMES</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />


<script type="text/javascript" src="/admin/jsi18n/"></script>
<link href="/static/admin/css/vendor/select2/select2.css" type="text/css" media="screen" rel="stylesheet" />
<link href="/static/admin/css/autocomplete.css" type="text/css" media="screen" rel="stylesheet" />
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/select2/select2.full.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/select2/i18n/es.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.js"></script>
<script type="text/javascript" src="/static/admin/js/autocomplete.js"></script>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css" />


<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" app-materiales model-material change-form"
  data-admin-utc-offset="-14400">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">Dissoi ERP</a></h1>

        </div>


        <div id="user-tools">

                Bienvenido/a,
                <strong>admin</strong>.



                    <a href="/">Ver el sitio</a> /






                <a href="/admin/password_change/">Cambiar contraseña</a> /

                <a href="/admin/logout/">Terminar sesión</a>

        </div>



    </div>
    <!-- END Header -->

<div class="breadcrumbs">
<a href="/admin/">Inicio</a>
&rsaquo; <a href="/admin/materiales/">Materiales</a>
&rsaquo; <a href="/admin/materiales/material/">Materiales</a>
&rsaquo; Añadir material
</div>







    <!-- Content -->
    <div id="content" class="colM">

        <h1>Añadir material</h1>
        <div id="content-main">



<form enctype="multipart/form-data" action="" method="post" id="material_form" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='VJo2pAvrF6TPiYuPl3990RBRtGBF7nAh8sPnGvAVbQo4IW4SAwVOHah8Oww6bsEP' />
<div>







  <fieldset class="module aligned ">



        <div class="form-row field-tipo">


                <div>


                        <label class="required" for="id_tipo">Tipo:</label>

                            <select name="tipo" id="id_tipo" onchange="showDiv(this)">
                              <option value="ELA">Elaborado</option>
                              <option value="PRO" selected>Producto</option>
                              <option value="SER">Servicio</option>
                            </select>



                </div>

        </div>

        <div class="form-row field-categoria">


                <div>


                        <label class="required" for="id_categoria">Categoría:</label>

                            <div class="related-widget-wrapper">
    <select name="categoria" required id="id_categoria" class="admin-autocomplete" data-ajax--cache="true" data-ajax--type="GET" data-ajax--url="/admin/materiales/categoriademateriales/autocomplete/" data-theme="admin-autocomplete" data-allow-clear="false" data-placeholder="">
</select>

        <a class="related-widget-wrapper-link change-related" id="change_id_categoria"
            data-href-template="/admin/materiales/categoriademateriales/__fk__/change/?_to_field=id&amp;_popup=1"
            title="Cambiar categoría de materiales seleccionado"><img src="/static/admin/img/icon-changelink.svg" alt="Modificar"/></a><a class="related-widget-wrapper-link add-related" id="add_id_categoria"
            href="/admin/materiales/categoriademateriales/add/?_to_field=id&amp;_popup=1"
            title="Añadir otro categoría de materiales"><img src="/static/admin/img/icon-addlink.svg" alt="Añadir"/></a>

</div>



                </div>

        </div>

        <div class="form-row field-codigo">


                <div>


                        <label for="id_codigo">Código:</label>

                            <input type="text" name="codigo" class="vTextField" maxlength="20" id="id_codigo" />



                </div>

        </div>

        <div class="form-row field-descripcion">


                <div>


                        <label class="required" for="id_descripcion">Descripción:</label>

                            <input type="text" name="descripcion" class="vTextField" maxlength="150" required id="id_descripcion" />



                </div>

        </div>

        <div class="form-row field-unidad_de_medida">


                <div>


                        <label class="required" for="id_unidad_de_medida">Unidad de medida:</label>

                            <div class="related-widget-wrapper">
    <select name="unidad_de_medida" required id="id_unidad_de_medida">
  <option value="" selected>---------</option>

</select>

        <a class="related-widget-wrapper-link change-related" id="change_id_unidad_de_medida"
            data-href-template="/admin/materiales/unidaddemedida/__fk__/change/?_to_field=id&amp;_popup=1"
            title="Cambiar unidad de medida seleccionado"><img src="/static/admin/img/icon-changelink.svg" alt="Modificar"/></a><a class="related-widget-wrapper-link add-related" id="add_id_unidad_de_medida"
            href="/admin/materiales/unidaddemedida/add/?_to_field=id&amp;_popup=1"
            title="Añadir otro unidad de medida"><img src="/static/admin/img/icon-addlink.svg" alt="Añadir"/></a>

</div>



                </div>

        </div>

        <div class="form-row field-costo">


                <div>


                        <label class="required" for="id_costo">Costo de compra:</label>

                            <input type="number" name="costo" value="0" step="0.01" required id="id_costo" />



                </div>

        </div>

        <div class="form-row field-precio">


                <div>


                        <label class="required" for="id_precio">Precio de venta:</label>

                            <input type="number" name="precio" value="0" step="0.01" required id="id_precio" />



                </div>

        </div>

        <div id="stock_minimo" class="form-row field-stock_minimo">


                <div>


                        <label class="required" for="id_stock_minimo">Stock minimo:</label>

                            <input type="number" name="stock_minimo" value="0" step="0.01" required id="id_stock_minimo" />



                </div>

        </div>

        <div id="insumo" class="form-row field-es_insumo">


                <div class="checkbox-row">


                        <input type="checkbox" name="es_insumo" id="id_es_insumo" /><label class="vCheckboxLabel" for="id_es_insumo">Es insumo</label>


                        <div class="help">Los insumos no requieren OT para retiro</div>

                </div>

        </div>

        <div id="coeficiente" style="display:none" class="form-row field-coeficiente_de_cantidad">


                <div>


                        <label class="required" for="id_coeficiente_de_cantidad">Coeficiente de cantidad:</label>

                            <input type="number" name="coeficiente_de_cantidad" value="1" step="0.01" required id="id_coeficiente_de_cantidad" />



                        <div class="help">Use esta opción cuando su cálculo de materiales corresponde a varias unidades</div>

                </div>

        </div>

        <div id="plantilla" style="display:none" class="form-row field-es_plantilla">


                <div class="checkbox-row">


                        <input type="checkbox" name="es_plantilla" id="id_es_plantilla" /><label class="vCheckboxLabel" for="id_es_plantilla">Guardar como plantilla?</label>


                </div>

        </div>

</fieldset>









<div class="js-inline-admin-formset inline-group" id="material_fk-group"
     data-inline-type="tabular"
     data-inline-formset="{&quot;name&quot;: &quot;#material_fk&quot;, &quot;options&quot;: {&quot;prefix&quot;: &quot;material_fk&quot;, &quot;addText&quot;: &quot;Agregar Material de costeo adicional.&quot;, &quot;deleteText&quot;: &quot;Eliminar&quot;}}">
  <div id="costeo" style="display:none" class="tabular inline-related last-related">
<input type="hidden" name="material_fk-TOTAL_FORMS" value="1" id="id_material_fk-TOTAL_FORMS" /><input type="hidden" name="material_fk-INITIAL_FORMS" value="0" id="id_material_fk-INITIAL_FORMS" /><input type="hidden" name="material_fk-MIN_NUM_FORMS" value="0" id="id_material_fk-MIN_NUM_FORMS" /><input type="hidden" name="material_fk-MAX_NUM_FORMS" value="1000" id="id_material_fk-MAX_NUM_FORMS" />
<fieldset class="module ">
   <h2>Costeo</h2>

   <table>
     <thead><tr>
       <th class="original"></th>


         <th class="required">Material

         </th>



         <th class="required">Cantidad

         </th>


     <th>¿Eliminar?</th>
     </tr></thead>

     <tbody>


        <tr class="form-row row1 "
             id="material_fk-0">
        <td class="original">

          <input type="hidden" name="material_fk-0-id" id="id_material_fk-0-id" />
          <input type="hidden" name="material_fk-0-material_referencia" id="id_material_fk-0-material_referencia" />

        </td>




              <td class="field-material">


                  <div class="related-widget-wrapper">
    <select name="material_fk-0-material" id="id_material_fk-0-material" class="admin-autocomplete" data-ajax--cache="true" data-ajax--type="GET" data-ajax--url="/admin/materiales/material/autocomplete/" data-theme="admin-autocomplete" data-allow-clear="false" data-placeholder="">
</select>

        <a class="related-widget-wrapper-link change-related" id="change_id_material_fk-0-material"
            data-href-template="/admin/materiales/material/__fk__/change/?_to_field=id&amp;_popup=1"
            title="Cambiar material seleccionado"><img src="/static/admin/img/icon-changelink.svg" alt="Modificar"/></a><a class="related-widget-wrapper-link add-related" id="add_id_material_fk-0-material"
            href="/admin/materiales/material/add/?_to_field=id&amp;_popup=1"
            title="Añadir otro material"><img src="/static/admin/img/icon-addlink.svg" alt="Añadir"/></a><a class="related-widget-wrapper-link delete-related" id="delete_id_material_fk-0-material"
            data-href-template="/admin/materiales/material/__fk__/delete/?_to_field=id&amp;_popup=1"
            title="Eliminar material seleccionada/o"><img src="/static/admin/img/icon-deletelink.svg" alt="Eliminar"/></a>

</div>

              </td>





              <td class="field-cantidad">


                  <input type="number" name="material_fk-0-cantidad" value="1" step="0.01" id="id_material_fk-0-cantidad" />

              </td>





          <td class="delete"></td>

        </tr>


        <tr class="form-row row2  empty-form"
             id="material_fk-empty">
        <td class="original">

          <input type="hidden" name="material_fk-__prefix__-id" id="id_material_fk-__prefix__-id" />
          <input type="hidden" name="material_fk-__prefix__-material_referencia" id="id_material_fk-__prefix__-material_referencia" />

        </td>




              <td class="field-material">


                  <div class="related-widget-wrapper">
    <select name="material_fk-__prefix__-material" id="id_material_fk-__prefix__-material" class="admin-autocomplete" data-ajax--cache="true" data-ajax--type="GET" data-ajax--url="/admin/materiales/material/autocomplete/" data-theme="admin-autocomplete" data-allow-clear="false" data-placeholder="">
</select>

        <a class="related-widget-wrapper-link change-related" id="change_id_material_fk-__prefix__-material"
            data-href-template="/admin/materiales/material/__fk__/change/?_to_field=id&amp;_popup=1"
            title="Cambiar material seleccionado"><img src="/static/admin/img/icon-changelink.svg" alt="Modificar"/></a><a class="related-widget-wrapper-link add-related" id="add_id_material_fk-__prefix__-material"
            href="/admin/materiales/material/add/?_to_field=id&amp;_popup=1"
            title="Añadir otro material"><img src="/static/admin/img/icon-addlink.svg" alt="Añadir"/></a><a class="related-widget-wrapper-link delete-related" id="delete_id_material_fk-__prefix__-material"
            data-href-template="/admin/materiales/material/__fk__/delete/?_to_field=id&amp;_popup=1"
            title="Eliminar material seleccionada/o"><img src="/static/admin/img/icon-deletelink.svg" alt="Eliminar"/></a>

</div>

              </td>





              <td class="field-cantidad">


                  <input type="number" name="material_fk-__prefix__-cantidad" value="1" step="0.01" id="id_material_fk-__prefix__-cantidad" />

              </td>





          <td class="delete"></td>

        </tr>

     </tbody>
   </table>
</fieldset>
  </div>
</div>







<div class="submit-row">
<input type="submit" value="Grabar" class="default" name="_save" />


<input type="submit" value="Grabar y añadir otro" name="_addanother" />
<input type="submit" value="Grabar y continuar editando" name="_continue" />
</div>



    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="/static/admin/js/change_form.js"

                data-model-name="material"
            >
    </script>




<script type="text/javascript"
        id="django-admin-prepopulated-fields-constants"
        src="/static/admin/js/prepopulate_init.js"
        data-prepopulated-fields="[]">
</script>

<script type="text/javascript">
    function showDiv(elem){
        var divstock = document.getElementById('stock_minimo');
        var divinsumo = document.getElementById('insumo');
        var divcoeficiente = document.getElementById('coeficiente');
        var divplantilla = document.getElementById('plantilla');
        var divcosteo = document.getElementById('costeo');
        if(elem.value == 'SER'){
            divstock.style.display = "none";
            divinsumo.style.display = "none";
            divcoeficiente.style.display = "none";
            divplantilla.style.display = "none";
            divcosteo.style.display = "none";
        }   else if (elem.value == 'ELA'){
            divinsumo.style.display = "none";
            divcoeficiente.style.display = "block";
            divplantilla.style.display = "block";
            divcosteo.style.display = "block";
            if (divstock.style.display == "none")
                divstock.style.display = "block";
        }   else if (elem.value == 'PRO'){
            divstock.style.display = "block";
            divinsumo.style.display = "block";
            divcosteo.style.display = "none";
            divplantilla.style.display = "none";
            divcoeficiente.style.display = "none";
        }




    }
</script>


</div>
</form></div>


        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
